<div>
  <h2 style="font-weight: 500;font-size: 16px;">CollegeMate Account</h2>
  <h1 style="font-weight: 700;font-size: 28px;">Account Locked</h1>

  <p style="padding-bottom: 15px;">
    <span style="font-size: 14px;">
      Your CollegeMate account has been locked:
      <%= email %>
    </span>
  </p>

  <p style="padding-bottom: 10px;">
    <span style="font-size: 14px;">
      <b>Reason of Account Lock: </b>
      <%= description %>
    </span>
  </p>

  <p style="padding-bottom: 10px;">
    <span style="font-size: 14px;">
      If you think there has been a mistake,
      Feel free to contact us <a
        href="mailto:contact@collegemate.app">contact@collegemate.app</a>
    </span>
  </p>

  <p>
    <span style="font-size: 14px">
      Thanks,
    </span>
    <br />
    <span style="font-size: 14px">
      CollegeMate Team
    </span>
  </p>
</div>